<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors List</title>
</head>
<body>
    <h1>Authors list.</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>

        <tr th:each="author : ${authors}" style="text-align: justify">
            <th th:text="${author.id}"></th>
            <th th:text="${author.firstName}"></th>
            <th th:text="${author.lastName}"></th>
        </tr>
    </table>

</body>
</html>